<!DOCTYPE html>
<html>
    <head>
        <title>Sid's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Practice Blog</a></h1>
        </header>
        <article>
            <time>published: 20.01.2022, 00:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Hello I'm Siddharth Reddy of S1 ELC, This is my first blog post using the django framework. I'm a member of <a href='https://amfoss.in/members/' target='_blank' title="Amfoss web page">amFOSS.</a> <br>Just a student trying to find my way into the path of technology.</p>
        </article>
        <p> My github : <a href="http://www.github.com/Siddharth2812.html" target="_blank" title="Github Link"> Siddharth2812</a></p>

        <h1 style="color:hsla(9,50%,74%,0.2)">NOICE</h1>
    </body>
</html>